*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.cardstack {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: gray;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: tan;
    width: 30%;
    padding: 1rem;
    gap: 1rem;
}

.deleteBtn {
    align-self: flex-end;
    background-color: inherit;
    border: none;
    font-size: 1rem;
    font-weight: bolder;

}

.title {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

.author, .pages {
    text-transform: capitalize;
}




.pages {
}

.readIt {
}

.yesNo {
}

.rating {
}

.notes {
}




#myForm {
    display: none;
}

.uuid {
    display: none;
}