*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.cardstack {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 65, 24);
    width: 30%;
    padding: 1rem;
    gap: 1rem;
}

.deleteBtn {
    align-self: flex-end;
    background-color: inherit;
    border: none;
    font-size: 1rem;
    font-weight: bolder;

}

.title {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

.author, .pages {
    text-transform: capitalize;
}

h2 {
    text-align: center;
}

body {
    background-color: rgb(3, 48, 11);
}

#newBook {
    background-color: rgb(47, 125, 47);
}


#myForm {
    display: none;
    color: white;
    line-height: 2;
}

#myForm input {
    background-color: rgb(99, 68, 68, .65);
    border: none;
    border-radius: 12px;
}

.uuid {
    display: none;
}

#submit, #newBook, #read, #done, #updateRead {
    background-color: rgb(47, 125, 47);
    border: none;
    border-radius: 7px;
}